

body{
    /* background-color:#d6b72d;  */
    background-image : url(https://images7.alphacoders.com/108/1089110.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



.title-paragraph{
    text-align: right ;
    font-size: 55px;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    display : inline;
    margin-left : 20px;
}

.passive-title{
    padding: 5px;
    text-align: center;
    color: #050505;
    font-size: 20px;
    -webkit-text-stroke-width: 0.9px;
}

.span-passivetitle{
    background-color: #6300003a;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 30px;

}

.logo{
    margin-left: 10px;
    margin-right: auto;
    display: inline;
    margin-top: 0%;
    height: 50px;
    width : 50px;
}

.enter-name{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color:#EEEBDD;
    border-color:#630000;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(73, 71, 71)
}

.main-division{
    margin-left : 850px;
    margin-right : 0px;
    padding : 0;
    height: 500%;
    background-color:#d8b6a4de  ;
    border-radius: 10px;
    /* box-shadow: 10px 10px 5px #C7BEA2; */
}

.login-division{
    margin-left : 850px;
    margin-right : 0px;
    padding : 0;
    margin-top: 20px;
    height: 90px;
    background-color:#d8b6a4de ;
    border-radius: 10px;
    /* box-shadow: 10px 10px 5px #C7BEA2; */
    text-align: center;
}

.shrink{
        transition: 1s ease;
}
        
.shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.login-text{
    margin: auto;
    ;
}

.addBtn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #EEEBDD;
    box-shadow: 2px 2px 2px rgb(73, 71, 71);
    border-radius: 5px;
}

.addBtn:hover{
    background-color:#D8B6A4;
}

.nav-bar{
    display : block;
    background-color: #d8b6a49f;
    margin : 0px;
    padding : 6px;
    border-radius: 5px;
}

/* .nav-bar-list{
    text-align: center;
    display: inline;
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: inline;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    -webkit-text-stroke-width: 0.9px;
  }
  
  li a:hover {
    background-color: #630000;
  }
