

body{
    background-color:#EEEBDD;
}



.title-paragraph{text-align: center ;
    font-size: 100px;
    color: #630000;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.passive-title{
    text-align: center;
    color: #630000;
    font-size: 20px;
}

.span-passivetitle{
    background-color: #6300003a;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 30px;

}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0%;
}

.enter-name{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color:#EEEBDD;
    border-color:#630000;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(73, 71, 71)
}

.main-division{
    margin: auto;
    width: 600px;
    height: 160px;
    background-color:#D8B6A4 ;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #C7BEA2;
}

.login-division{
    margin: auto;
    margin-top: 20px;
    width: 600px;
    height: 100px;
    background-color:#D8B6A4 ;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #C7BEA2;
}

.shrink{
        transition: 1s ease;
}
        
.shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.login-text{
    margin: auto;
    ;
}

.addBtn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #EEEBDD;
    box-shadow: 2px 2px 2px rgb(73, 71, 71);
    border-radius: 5px;
}

.addBtn:hover{
    background-color:#D8B6A4;
}
